* {
    box-sizing: border-box;
    font-family: Arial, sarif;
    margin: 0;
}

body {
    display: grid;

}




/**@media screen and (min-width:1020px) and (max-width:1200px) {*!*/

/*}*/
/*@media screen and (min-width:900px) and (max-width:1020px) {*/

/*    }*/




/*@media screen and (max-width:900px) {*/


/*}*/

.alert-info  {
  grid-area:skipto;
  display:flex;
  justify-content:center;
  flex-grow:1;
  background-color:lightcyan;
  border: 1px solid lightgrey;
  font-size:0.7em;
  padding:1em;
}
.alert-info a{
  text-decoration:none ;
  color:black;
}
.logo {
  grid-area:logo;
  display:flex;
  justify-content:center;
}
nav {
  grid-area:nav;



}
.header-img{
  grid-area:pic;
  display:flex;
  justify-content:center;

}
.main {
  grid-area:main-text;
}
.sub-section {
  grid-area:sub-text;
  font-size:.8em;
  font-style:italic;
}
footer {
  grid-area:social-links;
  padding-top:40px;
  font-size:0.7em;
  display:flex;
  justify-content: space-between;
}
ul {
  padding:0;
}
li {
  padding: 10px 0;
  margin: 10px 0;
  display:flex;;
  list-style:none;
  background-color:lightgrey;
  justify-content:center;
}

#social-media-links {
  font-size:2em;

}

@media screen and (max-width:720px) {
  body {
    display:grid;
    gap: 10px;
    margin:10px;
    justify-content:center;
    align-content: center;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    grid-template-areas:
            "skipto"
            "logo"
            "nav"
            "pic"
            "main-text"
            "sub-text"
            "social-links";
  }
  .header-img {
    grid-area:pic;

    width:339px;

    height:auto;
    margin:auto;
  }


}

/*@media screen and (min-width: 720px) and (max-width:900px) {*/
/*  body {*/
/*    display: grid;*/
/*    gap: 10px;*/
/*    margin: 10px;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-areas: "logo nav"*/
/*    "pic pic"*/
/*    "main-text sub-text"*/
/*    "garbage footer";*/
/*  }*/

/*  .alert-info.hidden-on-desktop{*/
/*    grid-area:garbage;*/
/*    visibility: hidden;*/
/*  }*/

/*  .logo {*/
/*    grid-area: logo;*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*  }*/
/*  nav {*/
/*    display:flex;*/
/*    justify-content:flex-end;*/
/*  }*/
/*  .nav-links {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-end;*/
/*  }*/

/*  li {*/
/*    padding: 10px 20px;*/
/*    margin: 0;*/
/*    background-color: white;*/
/*    justify-content: flex-end;*/
/*    list-style:none;*/

/*  }*/
/*  footer {*/
/*    grid-area:footer;*/
/*    display:flex;*/
/*    justify-content:flex-end;*/
/*  }*/

@media only screen and (min-width: 720px) {
    body {
        display: grid;
        gap: 10px;
        margin: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo nav"
                              "pic pic"
                              "main-text sub-text"
                              " footer footer"
                              "garbage .";
    }

    .alert-info.hidden-on-desktop{
      grid-area:garbage;
      visibility: hidden;
    }

    .logo {
        grid-area: logo;
        display: flex;
        justify-content: flex-start;
    }
    nav {
      display:flex;
      justify-content:flex-end;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        padding: 10px 20px;
        margin: 0;
        background-color: white;
        justify-content: flex-end;
        list-style:none;

    }
    footer {
      grid-area:footer;


    }
}